apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: pacman-f5si
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: pacman-f5si
    app.kubernetes.io/part-of: my-test-output
  name: pacman-f5si
  namespace: jephilli-tenant
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app.kubernetes.io/instance: pacman-f5si
status:
  loadBalancer: {}
