apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: human-resources-clkq
  namespace: jephilli-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:303e3fd5928414b8dc7d7a51d366f68ed847488e2a76e1546d5064c903b78481
        name: my-java-springboot
        resources: {}
status: {}
