apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-go-basic-vwkv
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-go-basic-vwkv
    app.kubernetes.io/part-of: my-test-output
  name: devfile-sample-go-basic-vwkv
  namespace: jephilli-tenant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: devfile-sample-go-basic-vwkv
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: devfile-sample-go-basic-vwkv
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:704ab805d1f5d6588c97d22c298fc95f41d444d608fc26a8dc4a7b6e177a704a
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 1Mi
status: {}
